@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

// Hamburger Menu Styles -- https://jonsuh.com/hamburgers/
$hamburger-layer-color: white;
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  overflow-x: hidden;
}

main h1 {
  font-size: 3.6rem;
  font-weight: 300;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.primary {
  color: #DD3333;
  font-weight: 700;
  letter-spacing: 1px;
}

.primary-bg {
  background-color: #DD3333;
}